.cards-list {
    width: 90%;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: auto auto auto;
    justify-items: stretch;
    grid-gap: 30px;
    max-width: 1020px;
    margin-bottom: 30px;
    /* margin-top: 40px; */
    margin-top: 17px;
    position: relative;
}

.cards-list .category-name {
    color: #2e2e2e;
    position: absolute;
    font-size: 1.8rem;
    top: -120px;
}

.body--dark .cards-list .category-name {
    color: #ffbd08; 
}

.cards-item {
    display: block;
    height: 325px;
    width: 100%;
    max-width: 320px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

@media(max-width: 900px) {
    .cards-list {
        grid-template-columns: auto auto;
    }
}

@media(max-width: 600px) {
    .cards-list {
        grid-template-columns: auto;
        justify-items: center;
    }

    .cards-list .category-name {
        top: -155px;
        left: 0;
        font-size: 1.1rem;
    }
}

