.game-init {
    position: relative;
    width: 100%;
    max-width: 1020px;
    margin: 15px auto 0;
}

.game-init-button {
    width: 100%;
    height: 35px;
    cursor: pointer;
    transition: .4s;
}
.game-init-button--hidden {
    width: 0;
    opacity: 0;
}
.game-init-button--hidden .game-init-button {
    width: 0;
}

.game-init .game-init-button {
    position: relative;
    background-color: deeppink;
    border: none;
    font-size: 1.5rem;
    line-height: 1.2;
    color: white;
    border-radius: 5px;
}

.game-init .game-init-button:hover {
    box-shadow: 0 2px 20px rgba(0, 0, 0, .5);
    color: #232323;
    transition: .3s;
}

.body--dark .game-init .game-init-button {
    background-color: #ffbd08;
    color: #232323;
}

.body--dark .game-init .game-init-button:hover {
    box-shadow: 0 2px 20px rgba(245, 243, 243, .3);
}

.game-init .game-init-button:active {
    color: white;
}

.game-init-button div {
    width: 35px;
    height: 33px;
    margin: 0 auto;
    background: url('/assets/img/repeat.svg');
    background-size: cover;
}

.body--dark .game-init-button div {
    background: url('/assets/img/repeat-dark.svg');
} 

.repeat-button {
    position: absolute;
    top: 0;
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.repeat-button--hidden {
    display: none;
}

.game-init-button.hidden {
    opacity: 0;
    width: 0;
}

.home .game-init-button {
    opacity: 0;
    width: 0;
}

.game-init-button.statistic {
    display: none;
}