.statistic-container {
    width: 100%;
    max-width: 1020px;
    margin: 100px auto 20px;
}

.statistic-container h2 {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 12px;
}

.body--dark .statistic-container h2 {
    color: #ffbd08;
}

#reset {
    display: block;
    background-color: deeppink;
    border: none;
    width: 110px;
    line-height: 35px;
    font-size: 25px;
    border-radius: 5px;
    margin: 0;
    margin-left: auto;
    margin-bottom: 20px;
}

.body--dark #reset {
    background-color: #ffbd08;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.table-title-row {
    display: flex;
    background-color: deeppink;
}

.body--dark .table-title-row {
    background-color: #ffbd08;
}

.table-title {
    font-weight: 700;
    line-height: 2;
    cursor: pointer;
}

.table-title:hover {
    text-decoration: underline;
}

.table-title:active {
    color: white;
}

.table-item-row {
    display: flex;
    background-color: white;
}

.table-item-row:nth-last-child(odd) {
    background-color: lightgray;
}

.item {
    font-size: 1.7rem;
    width: 15%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 500;
    width: 100%;
}

.table-item {
    border-bottom: 1px solid rgb(203, 202, 202);
}

.table-item.errors div {
    margin: 0 auto;
    max-width: 70px;
    overflow: hidden;
}

@media(max-width: 768px) {
    .item {
        font-size: 1.1rem;
    }

    #reset {
        width: 70px;
        line-height: 25px;
        font-size: 20px;
        margin-right: 20px;
    }
}

@media(max-width: 600px) {
    .item {
        font-size: .8rem;
        border: 1px solid black;
    }
}

@media(max-width: 400px) {
    .item {
        font-size: .5rem;
    }
}
