@import "./includes/normalize.scss";
@import "./includes/visually-hidden.scss";
@import "./blocks/header.scss";
@import "./blocks/footer.scss";
@import "./blocks/cards-list.scss";
@import "./blocks/navigation.scss";
@import "./blocks/card.scss";
@import "./blocks/card-lesson.scss";
@import "./blocks/mode.scss";
@import "./blocks/game-button.scss";
@import "./blocks/modal.scss";
@import "./blocks/statistic.scss";
